<!DOCTYPE html>

<html>
    <head>
        <title>Homepage</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <form id="weatherForm">
                <input id="location" placeholder="Location">
                <button id="locationSubmit">Submit</button>
            </form>
            <p id="errorMessage"></p>
            <p id="fetchedData"></p>
        </div>
        {{>footer}}
        <script src="/scripts/app.js"></script>
    </body>
</html>