<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./styles/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="landscape" src="./images/aboutImage.jpg">
        </div>
        {{>footer}}
    </body>
</html>