<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./styles/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="./images/aboutImage.jpg">
        {{>footer}}
    </body>
</html>