<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./styles/styles.css">
    </head>
    <body>
        {{>header}}
        <p>{{message}}</p>
        {{>footer}}
    </body>
</html>